.post-study .post-intro-s .post-text .post-tt {
    line-height:1.3;
}.btn.w-230{
    padding: 21px 0 19px;
}
.study-where .study-tt{
    line-height:1.3;
}
#button-show-widgets{
    padding: 16px 30px 14px;
}
.swiper-slide{
    height: auto;
}
.news-inner{
    height: 100%;
}
.news-box,
.study-si-box{
    display: flex;
    flex-direction: column;
    height:100%;
}
.news-content,
.study-content{
    flex-grow: 1;
}.tuition-preference .tuition-box .tuition-f .f-submit{
    padding: 13px 10px 11px;
}
.tuition-preference .tuition-box .tuition-f .label{
    margin-bottom:14px;
}
.contact .contact-info .contact-item .contact-icon{
margin-top: 10px;
}
.contact .contact-info .contact-item{
    align-items: flex-start;

}.contact .contact-form .contact-f .f-submit{
    padding: 11px 20px 10px;
}
.btn.w-190{
    padding: 21px 20px 19px;
}
.about-bg-not{
    max-width:1920px;
    margin: 0 auto
}
.download .download-box .download-f{
    width:25%;
    max-width:none;
}
.x-wrap{
    position:relative;
    max-width:1920px;
    margin: -125px auto;
    padding: 125px 0;
}
.download .download-box .f-submit{
    padding: 22px 0 20px;
}
.banner-book .banner-f .banner-b .f-submit{
    padding: 21px 0 19px;
    float:right;
}
.mona-form1-recaptcha{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}
.download .wpcf7-form-control-wrap.recaptcha{
    margin-top: 10px;
    display: block;
}
.banner-book .wpcf7-form-control-wrap.recaptcha{
    float: left;
    max-width:100%;
}
@media screen and (max-width: 1200px){
    .x-wrap{ 
        padding: 80px 0;
        margin: -80px auto;
    }

}

@media screen and (max-width: 991px){
.x-wrap{ 
    padding: 60px 0;
    margin: -60px auto;
}

}
@media screen and (max-width: 767px)
{
    .x-wrap{ 
        padding: 40px 0;
        margin: -40px auto;
    }
    
    }