<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">


</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png">
                                Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="banner banner-page" style="background-image: url('./img/banner-newsp-our.png');">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="banner-tt tt-30">
                            Học IELTS tại Universal Language Center : Nên hay không ?
                        </h1>

                    </div>
                </div>
            </section>

            <div class="breadcrumb">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list">
                            <a href="news.html">Tin tức</a>
                        </li>
                        <li class="breadcrumb-list active">
                            <a href="newspaper-our.html">Báo chí nói gì về chúng tôi </a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="news-post sec-80">
                <div class="container">
                    <div class="news-pt-wrapper">
                        <div class="news-pt-intro">
                            <p class="tt-18">Universal Language Center là một cái tên không quá xa lạ đối với các bạn
                                đang tìm cho
                                mình nơi để luyện thi IELTS ở Hà Nội, đặc biệt là khu vực Long Biên. </p>
                        </div>
                        <h1 class="news-pt-title tt-40">
                            BÀI VIẾT
                        </h1>

                        <div class="mona-content">
                            <p class="news-pt-label">
                                Chất lượng dạy và học IELTS tại Universal Language Center như thế nào? Và quan trọng hơn
                                cả, liệu đây có phải là một trung tâm Anh ngữ đáng để theo học hay không? Mời bạn đọc
                                cùng điểm qua bài viết sau đây để tìm ra câu trả lời nhé!
                            </p>

                            <h1>Đội ngũ giáo viên chất lượng</h1>
                            <p>Đầu tiên, toàn bộ giáo viên của Universal Language Center đều là những giáo viên có trình
                                độ cao, sở hữu chứng chỉ quốc tế (bao gồm cả chứng chỉ IELTS và chứng chỉ dạy học), có
                                nhiều năm kinh nghiệm trong luyện thi IELTS và cũng như rất nhiệt tình trong giảng dạy.
                            </p>
                            <p><span>Chương trình học IELTS </span>tại Universal rất đa dạng, bao gồm từ khoá cho bạn
                                mất gốc tiếng Anh đến những bạn cần học lên cao (trên mức 7.5 IELTS), từ những bạn cần
                                ôn gấp để làm hồ sơ du học hoặc xét tuyển đại học đến những anh chị đã đi làm yêu cầu
                                lịch học linh hoạt với chương trình học 1:1 hay Customized.</p>
                            <div class="news-pt-img">
                                <img src="./img/new-pt-1.png" alt="new-pt-1.png">
                                <span>Trung tâm Anh ngữ Universal cơ sở Long Biên</span>
                            </div>
                            <p>“Tại Universal, chúng tôi không chỉ chú trọng về đội ngũ giảng viên, giáo trình, hoạt
                                động giảng dạy mà còn xây dựng triết lý giáo dục truyền cảm hứng. Truyền cảm hứng là
                                vô cùng quan trọng, bởi có cảm hứng mới có thể học tập tốt. Universal truyền cảm
                                hứng cho học viên thông qua cách thức giảng dạy của giáo viên, hoạt động học tập
                                trên lớp và không gian học tập đẹp, hiện đại, trẻ trung, năng động” - Một đại diện
                                của Universal chia sẻ.</p>
                            <h1>Đối tác chính thức của IDP</h1>
                            <p>Với tư cách là đối tác chính thức của IDP, Universal thường xuyên kết hợp với IDP để tổ
                                chức các buổi thi thử IELTS miễn phí nhưng vẫn đúng theo tiêu chuẩn thi chính thức với
                                đầy đủ 4 kỹ năng Reading, Listening, Speaking, Writing cùng trang thiết bị hỗ trợ giống
                                như buổi thi thực.
                            </p>
                            <p>Đây chắc chắn là một cơ hội rất tốt để các bạn quan tâm đến IELTS, có nhu cầu học IELTS
                                hoặc sắp sửa thi IELTS có thể trải nghiệm một kỳ thi IELTS mà không hề mất chút chi phí
                                nào.</p>
                            <div class="news-pt-img">
                                <img src="./img/new-pt-2.png" alt="new-pt-2.png">

                            </div>
                            <h1>Cơ sở vật chất được đầu tư</h1>
                            <p>Ngoài chất lượng dạy học, Universal còn để ý kỹ đến không gian học tập của học viên. Mỗi
                                lớp học của Universal đều có sĩ số ít, chỉ từ 8 đến 12 bạn đối với lớp thông thường.
                                Việc này nhằm đảm bảo mỗi học viên đều có thể tương tác với giáo viên, phát triển bản
                                thân theo lộ trình cá nhân hoá từ trước và có thể đạt được mục tiêu điểm của mình với
                                chương trình học của trung tâm.</p>
                            <div class="news-pt-img">
                                <img src="./img/new-pt-3.png" alt="new-pt-3.png">
                                <span>Môi trường hiện đại, phù hợp cho việc học tập</span>
                            </div>
                            <p>Về hình thức, cả 4 cơ sở của Universal Language Center đều được thiết kế đẹp mắt, hiện
                                đại, rất phù hợp cho việc học tập và làm việc, thúc đẩy sự sáng tạo và tinh thần học tập
                                của các học viên cũng như đảm bảo chất lượng giảng dạy của giảng viên.</p>
                            <p class="news-pt-btn btn-link-ed not">Theo EDU2REVIEW.COM</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến,
                                    Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ,
                                    Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>