<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header header-page">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png">
                                Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="banner banner-page" style="background-image: url('./img/banner-share.png');">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="banner-tt tt-60">
                            CHIA SẺ KINH NGHIỆM
                        </h1>
                        <div class="search-desktop">
                            <form action="#" class="search-form">
                                <input type="text" class="f-control" placeholder="Search our courses">
                                <button class="f-submit" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <div class="share-exper sec-80">
                <div class="container">
                    <div class="share-exper-wrapper">
                        <div class="columns">
                            <div class="column share-post">
                                <div class="share-box">
                                    <div class="mona-content">
                                        <h1 class="share-title mt-0">Làm bài test TOEIC online MIỄN PHÍ cùng
                                            Universal</h1>
                                        <div class="box-img">
                                            <img src="./img/s-1.png" alt="s-1.png">
                                        </div>
                                        <p>Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học.
                                            Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình. Thông qua làm
                                            bài test TOEIC online, các bạn sẽ biết được trình độ của mình. Qua đó có thể
                                            học theo đúng trình độ, cũng như sắp xếp lộ trình học hợp lý.</p>
                                        <div id="1" class="id-scroll">
                                            <h1 class="mt-80">Giới thiệu về TOEIC</h1>
                                            <div class="box-img">
                                                <img src="./img/s-2.png" alt="s-2.png">
                                            </div>
                                            <p>TOEIC là viết tắt cả Test of English International Communication (bài
                                                kiểm
                                                tra tiếng Anh giao tiếp quốc tế). Môi trường quốc tế sử dụng TOEIC để
                                                đánh
                                                giá trình độ sử dụng ngoại ngữ thành thạo. Đặc biệt là trong giao tiếp
                                                và
                                                công việc. Kỳ thi TOEIC bao gồm 2 kỹ năng: Listening (Nghe), Reading
                                                (Đọc),
                                                được tổ chức bởi tổ chức giáo dục ETS của Mỹ. IIG Việt Nam là đơn vị
                                                được
                                                ETS ủy quyền phụ trách kỳ thi TOEIC. Hiện nay, TOEIC được sử dụng dụng
                                                rộng
                                                rãi trong tuyển dụng, là chứng chỉ cần thiết trong công việc cũng như
                                                đầu ra
                                                của nhiều trường đại học.</p>
                                        </div>
                                        <div id="2" class="id-scroll">
                                            <h1 class="mt-45">Tại sao nên làm test TOEIC online?</h1>
                                            <p>Trước khi bắt đầu học TOEIC, bạn cần phải biết trình độ mình đang ở đâu.
                                                Qua
                                                đó mới có thể lựa chọn khóa học phù hợp với trình độ, cũng như sắp xếp
                                                lộ
                                                trình học TOEIC. Tuy nhiên những người chưa học TOEIC bao giờ thường
                                                không
                                                biết tự test TOEIC như nào để hiệu quả. Trong các trường hợp này, cc bạn
                                                sẽ
                                                phải đến các trung tâm để làm bài test. Nhưng liệu trung tâm nào uy tín
                                                với
                                                bài test đạt tiêu chuẩn như IIG quy định?</p>
                                            <p>Giải pháp cho bạn là: <a href="#">Làm bài test TOEIC online!</a> </p>
                                            <p>Bài test online có những ưu điểm sau:</p>
                                            <div class="box-list">
                                                <ul class="list">
                                                    <li>
                                                        Nhanh chóng, tiện lợi, có thể làm mọi lúc, mọi nơi, ngay tại nhà
                                                    </li>
                                                    <li>
                                                        Không ràng buộc (nhiều trung tâm yêu cầu đăng ký học mới cho làm
                                                        bài
                                                        test)
                                                    </li>
                                                    <li>
                                                        Nhận kết quả nhanh chóng, thuận tiện
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="3" class="id-scroll">
                                            <h1>Làm test TOEIC online hoàn toàn miễn phí</h1>
                                            <div class="box-img">
                                                <img src="./img/s-3.png" alt="s-3.png">
                                            </div>

                                            <p>Nắm bắt được nhu cầu đó, Universal đã thiết kế hệ thống test TOEIC online
                                                tiên tiến, hiện đại. Bộ đề được Universal sử dụng là bộ đề TOEIC tiêu
                                                chuẩn
                                                của ETS. Ngoài ra, đó là những bộ đề đến từ các giáo trình uy tín như
                                                Big
                                                Step TOEIC, ETS TOEIC Test…</p>

                                        </div>
                                    </div>

                                    <div class="share-tag">
                                        Tag:
                                        <a href="#" class="tagl"> test online</a>
                                        <a href="#" class="tagl"> test TOEIC</a>
                                        <a href="#" class="tagl"> TOEIC</a>
                                    </div>

                                    <div class="share-s">
                                        Share
                                        <div class="socail-w">
                                            <a href="#" class="socail-b">
                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="socail-b">
                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                            <a href="#" class="socail-b">
                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column share-sab">
                                <div class="icon-slidebar"></div>
                                <div class="share-box">
                                    <div class="search-desktop">
                                        <form action="#" class="search-form">
                                            <input type="text" class="f-control" placeholder="Search our courses">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="box-slidebar">
                                        <ul class="content-list">
                                            <li class="content-item ">
                                                <p class="content">
                                                    nội dung chính
                                                </p>
                                            </li>
                                            <li class="content-item ">
                                                <a href="#1" class="link ">
                                                    Giới thiệu
                                                </a>
                                            </li>
                                            <li class="content-item">
                                                <a href="#2" class="link">
                                                    Tại sao nên làm test Toeic
                                                </a>
                                            </li>
                                            <li class="content-item">
                                                <a href="#3" class="link">
                                                    Làm test Toeic miễn phí
                                                </a>
                                            </li>
                                            <li class="content-item">
                                                <a href="#" class="link">
                                                    Tại sao nên làm test Toeic
                                                </a>
                                            </li>
                                        </ul>

                                        <a href="#" class="img-slidebar">
                                            <img src="./img/img-content.png" alt="img-content.png">
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="signup-course sec-80">
                <div class="container">
                    <div class="signup-course-wrapper">
                        <div class="columns">
                            <div class="column sg-text" data-aos="fade-right">
                                <div class="sg-course-inner">
                                    <h1 class="sg-course-title tt-30 ">
                                        ĐĂNG KÝ HỌC
                                        NGAY, ĐỂ NHẬN
                                        NHỮNG HỌC
                                        BỔNG GIÁ TRỊ
                                    </h1>
                                </div>
                            </div>
                            <div class="column sg-ig" data-aos="fade-left">
                                <div class="sg-course-inner" id="slide-sign-course">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="sg-c-box">
                                                    <img src="./img/signup-cours1.png" alt="signup-cours1.png">
                                                    <a href="#" class="sg-c-tt">khóa học ielts vantage</a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sg-c-box">
                                                    <img src="./img/signup-cours2.png" alt="signup-cours2.png">
                                                    <a href="#" class="sg-c-tt">khóa học ielts THRESHOLD</a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="sg-c-box">
                                                    <img src="./img/signup-cours3.png" alt="signup-cours3.png">
                                                    <a href="#" class="sg-c-tt">khóa học ielts THRESHOLD</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-pagination"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến,
                                    Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ,
                                    Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>