<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png">
                                Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="banner banner-page" style="background-image: url('./img/banner-t-o.png');">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="banner-tt tt-60">
                            ĐỘI NGŨ GIẢNG VIÊN
                        </h1>
                        <p class="banner-p tt-22 pd">
                            Tại Universal, chúng tôi không chỉ chú trọng về đội ngũ giảng viên, giáo trình, hoạt động
                            giảng dạy
                            mà còn xây dựng triết lý giáo dục truyền cảm hứng.
                        </p>
                    </div>
                </div>
            </section>

            <section class="teacher-quality sec-80">
                <div class="container">
                    <div class="teacher-wrapper">
                        <div class="teacher-intro">
                            <p class="tt-15 teacher-l">“Tại Universal, chúng tôi không chỉ chú trọng về đội ngũ giảng
                                viên, giáo
                                trình, hoạt động giảng dạy mà còn xây dựng triết lý giáo dục truyền cảm hứng. Truyền cảm
                                hứng là vô cùng quan trọng, bởi có cảm hứng mới có thể học tập tốt. Universal truyền cảm
                                hứng cho học viên thông qua cách thức giảng dạy của giáo viên, hoạt động học tập trên
                                lớp và không gian học tập đẹp, hiện đại, trẻ trung, năng động”Bộ phận chuyên môn làm
                                việc tất cả các ngày trong tuần và luôn sẵn lòng giải đáp mọi thắc mắc, những bài tập
                                khó, hoặc hướng dẫn hoàn thiện hồ sơ du học và xin học bổng.”</p>
                        </div>
                        <h1 class="teacher-title tt-40">
                            CHẤT LƯỢNG GIẢNG VIÊN
                        </h1>

                        <div class="teacher-inner">
                            <div class="columns">
                                <div class="column teacher-i" data-aos="fade-right">
                                    <div class="teacher-box">
                                        <div class="teacher-img">
                                            <img src="./img/ta1.png" alt="ta1.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column teacher-t" data-aos="fade-left">
                                    <div class="teacher-box">
                                        <h1 class="teacher-tt tt-40">KINH NGHIỆM</h1>
                                        <p class="teacher-desc">
                                            Giảng viên của chúng tôi đã có trên 5 năm kinh nghiệm giảng dạy Anh ngữ chất
                                            lượng cao, tốt nghiệp xuất sắc các trường Đại Học danh tiếng quốc tế và luôn
                                            tràn đầy nhiệt huyết trong quá trình hướng dẫn học viên tiếp cận Anh ngữ. Bộ
                                            phận chuyên môn làm việc tất cả các ngày trong tuần và luôn sẵn lòng giải
                                            đáp mọi thắc mắc, những bài tập khó, hoặc hướng dẫn hoàn thiện hồ sơ du học
                                            và xin học bổng.
                                        </p>
                                    </div>
                                </div>
                                <div class="box"></div>
                            </div>
                            <div class="columns reverse">
                                <div class="column teacher-i" data-aos="fade-right">
                                    <div class="teacher-box">
                                        <div class="teacher-img">
                                            <img src="./img/ta2.png" alt="ta2.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column teacher-t" data-aos="fade-left">
                                    <div class="teacher-box">
                                        <h1 class="teacher-tt tt-40">TRÌNH ĐỘ</h1>
                                        <p class="teacher-desc">
                                            Đầu tiên, toàn bộ giáo viên của Universal Language Center đều là những giáo
                                            viên có trình độ cao, sở hữu chứng chỉ quốc tế (bao gồm cả chứng chỉ IELTS
                                            và chứng chỉ dạy học), có nhiều năm kinh nghiệm trong luyện thi IELTS và
                                            cũng như rất nhiệt tình trong giảng dạy.
                                        </p>
                                    </div>
                                </div>
                                <div class="box"></div>
                            </div>
                            <div class="columns">
                                <div class="column teacher-i" data-aos="fade-right">
                                    <div class="teacher-box">
                                        <div class="teacher-img">
                                            <img src="./img/ta3.png" alt="ta3.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column teacher-t" data-aos="fade-left">
                                    <div class="teacher-box">
                                        <h1 class="teacher-tt tt-40">THÂN THIỆN</h1>
                                        <p class="teacher-desc">
                                            Toàn bộ giáo viên của Universal Language Center đều là những giáo viên có
                                            trình độ cao, sở hữu chứng chỉ quốc tế (bao gồm cả chứng chỉ IELTS và chứng
                                            chỉ dạy học), có nhiều năm kinh nghiệm trong luyện thi IELTS và cũng như rất
                                            nhiệt tình trong giảng dạy.
                                        </p>
                                    </div>
                                </div>
                                <div class="box box-bottom"></div>
                            </div>



                        </div>
                    </div>
                </div>
            </section>

            <section class="typical" style="background-image: url('./img/bg-t.png');">
                <div class="container">
                    <div class="typical-wrapper">
                        <div class="columns">
                            <div class="column typical-l">
                                <div class="typical-inner">
                                    <h1 class="typical-title tt-30">
                                        GIẢNG VIÊN
                                    </h1>
                                    <div class="typical-content" id="slide-typical">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="typical-box">
                                                        <div class="typical-img">
                                                            <a href="#">
                                                                <img src="./img/t-1.png" alt="t-1.png">
                                                            </a>
                                                        </div>

                                                        <div class="typical-text">
                                                            <h4 class="typical-name tt-18 f-bold">
                                                                ThS. Đinh Minh Quang
                                                            </h4>
                                                            <p class="typical-job f-bold">
                                                                TOEIC : 900 / IELTS : 9,0
                                                            </p>
                                                            <p class="typical-desc">
                                                                Có lẽ, tôi sinh ra là để làm nghề dạy học, và dạy một
                                                                ngôn ngữ mà tôi cho rằng không phải ai cũng có thể học
                                                                được, là điều khiến tôi rất tự hào và hạnh phúc. Hơn
                                                                nữa, đây còn là ngành nghề phù hợp với tính cách và ước
                                                                mơ thuở nhỏ của tôi.
                                                            </p>
                                                            <a href="#" class="btn-more">Tìm hiểu thêm </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="typical-box">
                                                        <div class="typical-img">
                                                            <a href="#">
                                                                <img src="./img/t-2.png" alt="t-2.png">
                                                            </a>
                                                        </div>

                                                        <div class="typical-text">
                                                            <h4 class="typical-name tt-18 f-bold">
                                                                ThS. Nguyễn Giao Long
                                                            </h4>
                                                            <p class="typical-job f-bold">
                                                                TOEIC : 900 / IELTS : 9,0
                                                            </p>
                                                            <p class="typical-desc">
                                                                Có lẽ, tôi sinh ra là để làm nghề dạy học, và dạy một
                                                                ngôn ngữ mà tôi cho rằng không phải ai cũng có thể học
                                                                được, là điều khiến tôi rất tự hào và hạnh phúc. Hơn
                                                                nữa, đây còn là ngành nghề phù hợp với tính cách và ước
                                                                mơ thuở nhỏ của tôi.
                                                            </p>
                                                            <a href="#" class="btn-more">Tìm hiểu thêm </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="typical-box">
                                                        <div class="typical-img">
                                                            <a href="#">
                                                                <img src="./img/t-3.png" alt="t-3.png">
                                                            </a>
                                                        </div>

                                                        <div class="typical-text">
                                                            <h4 class="typical-name tt-18 f-bold">
                                                                ThS. Nguyễn Thanh Hải
                                                            </h4>
                                                            <p class="typical-job f-bold">
                                                                TOEIC : 900 / IELTS : 9,0
                                                            </p>
                                                            <p class="typical-desc">
                                                                Có lẽ, tôi sinh ra là để làm nghề dạy học, và dạy một
                                                                ngôn ngữ mà tôi cho rằng không phải ai cũng có thể học
                                                                được, là điều khiến tôi rất tự hào và hạnh phúc. Hơn
                                                                nữa, đây còn là ngành nghề phù hợp với tính cách và ước
                                                                mơ thuở nhỏ của tôi.
                                                            </p>
                                                            <a href="#" class="btn-more">Tìm hiểu thêm </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column typical-r">
                                <div class="typical-w">
                                    <div class="typical-hd">
                                        <div class="dots-dp">
                                            <img src="./img/dau-phay.png" alt="dau-phay.png">
                                        </div>
                                        <div class="typical-b">
                                            <h4 class="typical-name tt-18">
                                                ThS. Nguyễn Liên Hương
                                            </h4>
                                            <p class="typical-hob tt-18 f-bold">
                                                GIẢNG VIÊN
                                            </p>
                                        </div>
                                    </div>

                                    <div class="typical-img">
                                        <img src="./img/t-4.png" alt="t-4.png">
                                    </div>

                                    <div class="typical-text">
                                        <p class="typical-desc">
                                            Ngôn ngữ bất cứ ai cũng học được chỉ cần mình muốn, trở thành giáo viện,
                                            thông dịch, phiên dịch cho công ty hay tổ chức như mình đều cần sự cố gắng
                                            và quyết tâm hơn là năng khiếu. Ngôn ngữ mang lại niềm vui hạnh phúc khi ta
                                            hiểu được ngôn ngữ của nhau.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến,
                                    Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ,
                                    Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>