<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="wrapper" style="height: 3000px;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="curent-menu">
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png"> Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <section class="banner banner-home">
                <div class="banner-inner" id="banner-home">
                    <div class="swiper-container">
                        <div class="banner-wrapper">
                            <div class="containet-full">
                                <div class="banner-wrap">
                                    <div class="banner-box t-left" data-aos="fade-up">
                                        <h1 class="banner-tt tt-30">Tư vấn lộ trình học IELTS, TOEIC, giao tiếp hoàn toàn
                                            <span>miễn phí</span>
                                        </h1>
                                        <p class="banner-intro">Đã đến lúc bắt đầu đầu tư vào bản thân. Học với chúng tôi ngay bây giờ chỉ từ 100,000đ</p>
                                        <a href="#" class="btn btn-study">Bạn muốn học khóa nào</a>
                                        <a href="#" class="btn btn-visory">Nhận tư vấn</a>
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="banner-content">
                                    <div class="banner-w">
                                        <div class="columns">
                                            <div class="column">
                                                <div class="banner-b">
                                                    <div class="counter tt-60" data-count='93'>
                                                        <p>0</p>
                                                    </div>
                                                    <p class="banner-t tt-20">Đạt mục tiêu đề ra</p>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="banner-b">
                                                    <div class="counter tt-60" data-count='100'>
                                                        <p>0</p>
                                                    </div>
                                                    <p class="banner-t tt-20">Cam kết đề ra</p>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="banner-b">
                                                    <div class="counter tt-60" data-count='98'>
                                                        <p>0</p>
                                                    </div>
                                                    <p class="banner-t tt-20">sẵn sàng Giới thiệu</p>
                                                </div>
                                            </div>
                                            <div class="column">
                                                <div class="banner-b">
                                                    <div class="counter tt-60" data-count='100'>
                                                        <p>0</p>
                                                    </div>
                                                    <p class="banner-t tt-20">Giảng viên chất lượng cao</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="banner-img">
                                    <img src="./img/banner-home.png" alt="banner-home.png">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="banner-img">
                                    <img src="./img/banner-home.png" alt="banner-home.png">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="swiper-pagination"></div> -->
                    </div>
                </div>
            </section>

            <div class="post-study-intro">
                <div class="container">
                    <div class="post-intro">
                        <div class="columns">
                            <div class="column col-7">
                                <div class="post-box pb-r">
                                    <div class="post-img" data-aos="fade-left">
                                        <img src="./img/post-intro.png" alt="post-intro.png">
                                        <a href="#" class="btn w-190 btn-show-study">Xem khóa học</a>
                                    </div>
                                    <div class="post-video">
                                        <a class="popup-youtube" href="http://www.youtube.com/watch?v=BZYp-6D0SDY">
                                            <img src="./img/bg-video.png" alt="bg-video.png">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-5">
                                <div class="post-box pb-l">
                                    <div class="post-contact">
                                        <p class="post-label tt-18">
                                            tại sao chọn chúng tôi?
                                        </p>
                                        <h2 class="post-tt tt-30">
                                            Tại Universal Language Center, chúng tôi cam kết chất lượng đến từ những giá trị thật.”
                                        </h2>
                                        <div class="post-people">
                                            <div class="post-p-img">
                                                <img src="./img/p-1.png" alt="p-1.png">
                                            </div>
                                            <div class="post-p-content">
                                                <p class="post-p-name">ThS. Nguyễn Thị Hải Yến</p>
                                                <p class="post-p-job">Giám Đốc Universal Language Center</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="post-qty">
                                        <div class="post-b">
                                            <div class="counter tt-60" data-count='10'>
                                                <p>0</p>
                                            </div>
                                            <p class="post-t tt-16">Năm kinh nghiệm</p>
                                        </div>
                                        <div class="post-b">
                                            <div class="counter text-k tt-60" data-count='25'>
                                                <p>0</p>
                                            </div>
                                            <p class="post-t tt-16">Học viên đã học</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="post-study">
                <div class="container">
                    <div class="post-intro-s sec-80">
                        <div class="columns">
                            <div class="column">
                                <div class="post-box" data-aos="fade-right">
                                    <div class="post-text">
                                        <h1 class="post-tt tt-30">
                                            Toàn bộ giao trình IELTS, Toeic, Giao tiếp
                                        </h1>
                                        <p class="post-desc">
                                            Với khoảng 50 đầu mục sách vô cùng giá trị. Bộ giáo trình này sẽ là hành trang không thể thiếu dành cho tất cả các bạn đã, đang và chuẩn bị với kỳ thi IELTS, TOEIC, Giao tiếp.
                                        </p>
                                        <a href="#" class="post-more">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="post-box" data-aos="fade-left">
                                    <div class="post-img">
                                        <img src="./img/post-1.png" alt="post-1.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns p-n">
                            <div class="column">
                                <div class="post-box" data-aos="fade-right">
                                    <div class="post-text">
                                        <h1 class="post-tt tt-30">
                                            Toàn bộ giao trình IELTS, Toeic, Giao tiếp
                                        </h1>
                                        <p class="post-desc">
                                            Với khoảng 50 đầu mục sách vô cùng giá trị. Bộ giáo trình này sẽ là hành trang không thể thiếu dành cho tất cả các bạn đã, đang và chuẩn bị với kỳ thi IELTS, TOEIC, Giao tiếp.
                                        </p>
                                        <a href="#" class="post-more">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="post-box" data-aos="fade-left">
                                    <div class="post-img">
                                        <img src="./img/post-2.png" alt="post-2.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column">
                                <div class="post-box" data-aos="fade-right">
                                    <div class="post-text">
                                        <h1 class="post-tt tt-30">
                                            Chương trình luyện thi IELTS
                                        </h1>
                                        <p class="post-desc">
                                            Dành cho tất cả học viên đã kết thúc khóa học Preparation hoặc có trình độ tương đương trở lên. Chương trình trải rộng từ trình độ 3.0 - 6.5+ IELTS, đáp ứng được mọi nhu cầu của học viên.
                                        </p>
                                        <a href="#" class="post-more">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="post-box" data-aos="fade-left">
                                    <div class="post-img">
                                        <img src="./img/post-3.png" alt="post-3.png">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn-post">
                            <a href="#" class="btn btn-post-more w-230">
                                Xem khóa học
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <section class="study-where" style="background-image: url('./img/bg-study-w.png');">
                <div class="container">
                    <div class="study-wrapper">
                        <h1 class="study-tt tt-60">
                            BẠN ĐANG KHÔNG BIẾT BẮT ĐẦU HỌC TIẾNG ANH TỪ ĐÂU?
                        </h1>
                        <p class="study-p">
                            Hãy để Universal Language Center giải đáp giúp bạn!.
                        </p>
                        <a href="#" class="btn w-230 btn-study-w">Nhận tư vấn</a>
                    </div>
                </div>
            </section>


            <section class="study-signup">
                <div class="container-full">
                    <div class="study-si-wrapper">
                        <h1 class="study-si-tt tt-30">
                            ĐĂNG KÝ HỌC NGAY, <br> ĐỂ NHẬN NHỮNG HỌC BỔNG GIÁ TRỊ
                        </h1>
                        <div class="study-si-slide" id="study-si-slide">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="study-si-box">
                                            <div class="study-img">
                                                <a href="#">
                                                    <img src="./img/study-slide1.png" alt="study-slide1.png">
                                                </a>
                                            </div>
                                            <div class="study-content">
                                                <p class="study-t">
                                                    Universal Language Center
                                                </p>

                                                <h1 class="study-tt tt-20">
                                                    <a href="#">
                                                        KHÓA HỌC IELTS <br>
                                                        ADVANCED
                                                    </a>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="study-si-box">
                                            <div class="study-img">
                                                <a href="#">
                                                    <img src="./img/study-slide2.png" alt="study-slide2.png">
                                                </a>
                                            </div>
                                            <div class="study-content">
                                                <p class="study-t">
                                                    Universal Language Center
                                                </p>
                                                <h1 class="study-tt tt-20">
                                                    <a href="#">
                                                        KHÓA HỌC IELTS <br>
                                                        VANTAGE
                                                    </a>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="study-si-box">
                                            <div class="study-img">
                                                <a href="#">
                                                    <img src="./img/study-slide3.png" alt="study-slide3.png">
                                                </a>
                                            </div>
                                            <div class="study-content">
                                                <p class="study-t">
                                                    Universal Language Center
                                                </p>
                                                <h1 class="study-tt tt-20">
                                                    <a href="#">
                                                        KHÓA HỌC IELTS <br>
                                                        THRESHOLD
                                                    </a>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="study-si-box">
                                            <div class="study-img">
                                                <a href="#">
                                                    <img src="./img/study-slide4.png" alt="study-slide4.png">
                                                </a>
                                            </div>
                                            <div class="study-content">
                                                <p class="study-t">
                                                    Universal Language Center
                                                </p>
                                                <h1 class="study-tt tt-20">
                                                    <a href="#">
                                                        KHÓA HỌC IELTS <br>
                                                        WAY STAGE
                                                    </a>
                                                </h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-test">
                                    <div class="autoplay pause">
                                        <i class="fa fa-pause" aria-hidden="true"></i>
                                        <i class="fa fa-play" aria-hidden="true"></i>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="tuition-preference">
                <div class="container">
                    <div class="tuition-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="tuition-box">
                                    <h4 class="tuition-tt tt-18">
                                        ƯU ĐÃI HỌC PHÍ LÊN TỚI <span>30%</span> GIÁ TRỊ KHÓA HỌC
                                    </h4>
                                    <h2 class="tuition-label tt-30">
                                        Đăng ký nhận tư vấn lộ trình học <span>nhanh - gọn - tiện</span> từ Universal Language Center
                                    </h2>
                                    <div class="tuition-count" data-end-time="05/30/2021">
                                        <div class="cd-box cd-day">
                                            <p class="day"></p>
                                            Ngày
                                        </div>
                                        <div class="cd-box cd-hours">
                                            <p class="hours"></p>
                                            Giờ
                                        </div>
                                        <div class="cd-box cd-minutes">
                                            <p class="minutes"></p>
                                            Phút
                                        </div>
                                        <div class="cd-box cd-seconds">
                                            <p class="seconds"></p>
                                            Giây
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="column">
                                <div class="tuition-box">
                                    <form action="#">
                                        <div class="tuition-f">
                                            <div class="tuition-b">
                                                <input type="text" class="f-control" placeholder="Họ và tên">
                                            </div>
                                            <div class="tuition-b">
                                                <input type="text" class="f-control" placeholder="Email">
                                            </div>
                                            <div class="tuition-b">
                                                <input type="text" class="f-control" placeholder="Số điện thoại">
                                            </div>
                                            <label class="label">
                                                Bạn đang quan tâm khóa học nào
                                            </label>
                                            <select class="select tuition-b f-control" style="background-image: url('./img/select.svg');">
                                                <option value="1">Luyện thi IELTS</option>
                                                <option value="2">Luyện thi asd</option>
                                                <option value="3">Luyện thi qwe</option>
                                            </select>
                                            <div class="tuition-b">
                                                <input type="submit" class="btn f-submit" value="Nhận tư vấn">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="our-experience">
                <div class="container-full">
                    <div class="our-experience-wrapper">
                        <div class="container">


                            <div class="columns">
                                <div class="column col-10">
                                    <div class="our-box">
                                        <p class="our-label tt-18">về chúng tôi</p>
                                        <h1 class="our-tt tt-30">Có Được Kiến ​​Thức Và Kinh Nghiệm Có Giá Trị</h1>
                                        <div class="our-content">
                                            <ul class="our-list">
                                                <li class="our-item">
                                                    <p class="our-t tt-30">01.</p>
                                                    <p class="our-d tt-20">PASSIONATE AND EXPERIENCED TEACHERS</p>
                                                </li>
                                                <li class="our-item">
                                                    <p class="our-t tt-30">02.</p>
                                                    <p class="our-d tt-20">PERSONALIZED EDUCATION
                                                    </p>
                                                </li>
                                                <li class="our-item">
                                                    <p class="our-t tt-30">03.</p>
                                                    <p class="our-d tt-20">A VARIETY OF COURSE TO CHOOSE</p>
                                                </li>
                                                <li class="our-item">
                                                    <p class="our-t tt-30">04.</p>
                                                    <p class="our-d tt-20">A PLACE LIKE NO OTHER</p>
                                                </li>
                                                <li class="our-item">
                                                    <p class="our-t tt-30">05.</p>
                                                    <p class="our-d tt-20">LIVE THE ADVENTURE BEYOND THE CLASSROOM</p>
                                                </li>
                                                <li class="our-item">
                                                    <p class="our-t tt-30">06.</p>
                                                    <p class="our-d tt-20">SCORE HIGHER-GUARANTEED OR YOUR FEE BACK!</p>
                                                </li>
                                                <li class="our-item">
                                                    <p class="our-t tt-30">07.</p>
                                                    <p class="our-d tt-20">GO STRAIGHT TO 98 INTERNATIONAL UNIVERSITIES</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-2">

                                    <div class="our-img">
                                        <img src="./img/bg-our-1.png" alt="bg-our-1.png">
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </section>

            <section class="our-newspaper sec-80">
                <div class="container">
                    <div class="our-paper-wrapper">
                        <h1 class="our-paper-tt tt-18">Báo trí nói gì về chúng tôi</h1>
                        <p class="our-say tt-30">Univesal Language Center Là <br> Một Trong Những Trung Tâm Luyện
                        </p>
                        <p class="our-name">Theo Người Đưa Tin</p>
                        <img src="./img/bg-our.png" alt="bg-our.png" class="our-img">
                    </div>
                </div>
            </section>

            <section class="news sec-80 --pt-0">
                <div class="container">
                    <div class="news-wrapper" id='slide-news'>
                        <h1 class="news-title tt-30">Tin tức</h1>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="news-inner">
                                        <div class="news-box">
                                            <div class="news-img">
                                                <a href="#">
                                                    <img src="./img/news-1.png" alt="news-1.png">
                                                </a>
                                            </div>
                                            <div class="news-content">
                                                <h4 class="news-tt tt-18">Làm bài test TOEIC online miễn phí cùng Universal</h4>
                                                <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình.</p>
                                            </div>


                                        </div>
                                        <div class="news-box-h">
                                            <h4 class="tt-24 news-tt">Từ vựng IELTS theo chủ đề ôn luyện Speaking – WEATHER Topic</h4>
                                            <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được trình độ của
                                                mình. Qua đó có thể học theo đúng trình độ, cũng như sắp xếp lộ trình học hợp lý.</p>
                                            <a href="#" class="btn-more">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="news-inner">
                                        <div class="news-box">
                                            <div class="news-img">
                                                <a href="#">
                                                    <img src="./img/news-2.png" alt="news-2.png">
                                                </a>
                                            </div>
                                            <div class="news-content">
                                                <h4 class="news-tt tt-18">Làm bài test TOEIC online miễn phí cùng Universal</h4>
                                                <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình.</p>
                                            </div>


                                        </div>
                                        <div class="news-box-h">
                                            <h4 class="tt-24 news-tt">Từ vựng IELTS theo chủ đề ôn luyện Speaking – WEATHER Topic</h4>
                                            <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được trình độ của
                                                mình. Qua đó có thể học theo đúng trình độ, cũng như sắp xếp lộ trình học hợp lý.</p>
                                            <a href="#" class="btn-more">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="news-inner">
                                        <div class="news-box">
                                            <div class="news-img">
                                                <a href="#">
                                                    <img src="./img/news-1.png" alt="news-1.png">
                                                </a>
                                            </div>
                                            <div class="news-content">
                                                <h4 class="news-tt tt-18">Làm bài test TOEIC online miễn phí cùng Universal</h4>
                                                <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình.</p>
                                            </div>


                                        </div>
                                        <div class="news-box-h">
                                            <h4 class="tt-24 news-tt">Từ vựng IELTS theo chủ đề ôn luyện Speaking – WEATHER Topic</h4>
                                            <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được trình độ của
                                                mình. Qua đó có thể học theo đúng trình độ, cũng như sắp xếp lộ trình học hợp lý.</p>
                                            <a href="#" class="btn-more">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="news-inner">
                                        <div class="news-box">
                                            <div class="news-img">
                                                <a href="#">
                                                    <img src="./img/news-2.png" alt="news-2.png">
                                                </a>
                                            </div>
                                            <div class="news-content">
                                                <h4 class="news-tt tt-18">Làm bài test TOEIC online miễn phí cùng Universal</h4>
                                                <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình.</p>
                                            </div>


                                        </div>
                                        <div class="news-box-h">
                                            <h4 class="tt-24 news-tt">Từ vựng IELTS theo chủ đề ôn luyện Speaking – WEATHER Topic</h4>
                                            <p class="news-desc">Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều người theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm của mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được trình độ của
                                                mình. Qua đó có thể học theo đúng trình độ, cũng như sắp xếp lộ trình học hợp lý.</p>
                                            <a href="#" class="btn-more">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="student-our sec-80">
                <div class="container">
                    <div class="student-our-wrapper">
                        <h1 class="sd-our-title tt-30">
                            HỌC VIÊN NÓI GÌ VỀ CHÚNG TÔI
                        </h1>

                        <div class="sd-our-content">
                            <div class="tab-title-box">
                                <div class="tab-title active">
                                    <img src="./img/tt1.png" alt="tt1.png">
                                </div>
                                <div class="tab-title">
                                    <img src="./img/tt2.png" alt="tt2.png">
                                </div>
                                <div class="tab-title">
                                    <img src="./img/tt3.png" alt="tt3.png">
                                </div>
                                <div class="tab-title">
                                    <img src="./img/tt4.png" alt="tt4.png">
                                </div>
                                <div class="tab-title">
                                    <img src="./img/tt5.png" alt="tt5.png">
                                </div>
                                <div class="tab-title">
                                    <img src="./img/tt6.png" alt="tt6.png">
                                </div>

                            </div>
                            <div class="tab-content-box">
                                <div class="tab-content active">
                                    <p class="sd-desc ">
                                        Theo Học Khóa Luyện Thi IELTS Tại Trung Tâm, Mình Đã Học Được Rất Nhiều Kiến Thức Đáng Giá. Suốt Quá Trình Học Tất Cả Học Viên Bọn Mình Được Củng Cố Kiến Thức Toàn Diện, Và Không Đi Tắt Bất Cứ Giai Đoạn Nào. Có Lẽ Chính Vì Vậy Mà Học Xong Mình Đã Có Nền
                                        Tảng Có Thể Nói Là Khá Chắc Chắn Để Tự Tin Vượt Qua Mọi Bài Thi, Kể Cả Không Phải Là IELTS.”
                                    </p>
                                    <p class="sd-name">
                                        Hoàng An Giang
                                    </p>
                                    <p class="sd-job">
                                        IELTS VANTAGE
                                    </p>
                                </div>
                                <div class="tab-content">
                                    <p class="sd-desc ">
                                        Theo Học Khóa Luyện Thi IELTS Tại Trung Tâm, Mình Đã Học Được Rất Nhiều Kiến Thức Đáng Giá. Suốt Quá Trình Học Tất Cả Học Viên Bọn Mình Được Củng Cố Kiến Thức Toàn Diện, Và Không Đi Tắt Bất Cứ Giai Đoạn Nào. Có Lẽ Chính Vì Vậy Mà Học Xong Mình Đã Có Nền
                                        Tảng Có Thể Nói Là Khá Chắc Chắn Để Tự Tin Vượt Qua Mọi Bài Thi, Kể Cả Không Phải Là IELTS.”
                                    </p>
                                    <p class="sd-name">
                                        Nguyễn văn A
                                    </p>
                                    <p class="sd-job">
                                        IELTS VANTAGE
                                    </p>
                                </div>
                                <div class="tab-content">
                                    <p class="sd-desc ">
                                        Theo Học Khóa Luyện Thi IELTS Tại Trung Tâm, Mình Đã Học Được Rất Nhiều Kiến Thức Đáng Giá. Suốt Quá Trình Học Tất Cả Học Viên Bọn Mình Được Củng Cố Kiến Thức Toàn Diện, Và Không Đi Tắt Bất Cứ Giai Đoạn Nào. Có Lẽ Chính Vì Vậy Mà Học Xong Mình Đã Có Nền
                                        Tảng Có Thể Nói Là Khá Chắc Chắn Để Tự Tin Vượt Qua Mọi Bài Thi, Kể Cả Không Phải Là IELTS.”
                                    </p>
                                    <p class="sd-name">
                                        Nguyễn văn B
                                    </p>
                                    <p class="sd-job">
                                        IELTS VANTAGE
                                    </p>
                                </div>
                                <div class="tab-content">
                                    <p class="sd-desc ">
                                        Theo Học Khóa Luyện Thi IELTS Tại Trung Tâm, Mình Đã Học Được Rất Nhiều Kiến Thức Đáng Giá. Suốt Quá Trình Học Tất Cả Học Viên Bọn Mình Được Củng Cố Kiến Thức Toàn Diện, Và Không Đi Tắt Bất Cứ Giai Đoạn Nào. Có Lẽ Chính Vì Vậy Mà Học Xong Mình Đã Có Nền
                                        Tảng Có Thể Nói Là Khá Chắc Chắn Để Tự Tin Vượt Qua Mọi Bài Thi, Kể Cả Không Phải Là IELTS.”
                                    </p>
                                    <p class="sd-name">
                                        Nguyễn văn C
                                    </p>
                                    <p class="sd-job">
                                        IELTS VANTAGE
                                    </p>
                                </div>
                                <div class="tab-content">
                                    <p class="sd-desc ">
                                        Theo Học Khóa Luyện Thi IELTS Tại Trung Tâm, Mình Đã Học Được Rất Nhiều Kiến Thức Đáng Giá. Suốt Quá Trình Học Tất Cả Học Viên Bọn Mình Được Củng Cố Kiến Thức Toàn Diện, Và Không Đi Tắt Bất Cứ Giai Đoạn Nào. Có Lẽ Chính Vì Vậy Mà Học Xong Mình Đã Có Nền
                                        Tảng Có Thể Nói Là Khá Chắc Chắn Để Tự Tin Vượt Qua Mọi Bài Thi, Kể Cả Không Phải Là IELTS.”
                                    </p>
                                    <p class="sd-name">
                                        Nguyễn văn D
                                    </p>
                                    <p class="sd-job">
                                        IELTS VANTAGE
                                    </p>
                                </div>
                                <div class="tab-content">
                                    <p class="sd-desc ">
                                        Theo Học Khóa Luyện Thi IELTS Tại Trung Tâm, Mình Đã Học Được Rất Nhiều Kiến Thức Đáng Giá. Suốt Quá Trình Học Tất Cả Học Viên Bọn Mình Được Củng Cố Kiến Thức Toàn Diện, Và Không Đi Tắt Bất Cứ Giai Đoạn Nào. Có Lẽ Chính Vì Vậy Mà Học Xong Mình Đã Có Nền
                                        Tảng Có Thể Nói Là Khá Chắc Chắn Để Tự Tin Vượt Qua Mọi Bài Thi, Kể Cả Không Phải Là IELTS.”
                                    </p>
                                    <p class="sd-name">
                                        Nguyễn văn E
                                    </p>
                                    <p class="sd-job">
                                        IELTS VANTAGE
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main>

        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến, Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ, Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>