<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png">
                                Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="banner banner-page" style="background-image: url('./img/banner-newsp-our.png');">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="banner-tt tt-60">
                            SINH VIÊN TIÊU BIỂU
                        </h1>
                        <p class="banner-p tt-22">
                            Đã có rất nhiều học viên tiêu biểu trưởng thành từ Universal
                        </p>
                    </div>
                </div>
            </section>

            <div class="breadcrumb bg-g-f2">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list">
                            <a href="news.html">Tin tức</a>
                        </li>
                        <li class="breadcrumb-list active">
                            <a href="student-typical.html">Sinh viên tiêu biểu </a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="student-typical sec-80">
                <div class="container">
                    <div class="student-wrapper">
                        <div class="student-intro">
                            <p class="tt-18">Được biết, đã có rất nhiều học viên tiêu biểu trưởng thành từ Universal.
                                Đặc biệt phải kể đến những em có thể đạt IELTS 8.0 trong vòng 3 tuần (Nguyễn Quang
                                Minh), đạt IELTS 7.0 trong vòng 1 tháng (Nam Anh), đạt IELTS 7.0 trong 6 tháng (Đỗ Đức
                                Lương).</p>
                        </div>
                        <h1 class="student-title tt-40">
                            SINH VIÊN TIÊU BIỂU
                        </h1>

                        <div class="student-inner">
                            <h1 class="student-tt tt-40">
                                VỀ TÔI
                            </h1>
                            <div id="slide-student">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="student-box">
                                                <div class="columns">
                                                    <div class="column st-l">
                                                        <div class="student-b">
                                                            <div class="student-ig">
                                                                <img src="./img/st-1.png" alt="st-1.png"
                                                                    class="student-img">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column st-r">
                                                        <div class="student-b">
                                                            <h2 class="student-name tt-40">
                                                                hoàng anh giang
                                                            </h2>
                                                            <p class="student-job tt-22">IELTS VANTAGE</p>
                                                            <div class="student-content">
                                                                <div class="dots-dp">
                                                                    <img src="./img/dau-phay.png" alt="dau-phay.png">
                                                                </div>
                                                                <div class="student-text">
                                                                    <p>“Cũng như những người khác, mình đã học 10 năm
                                                                        rồi nhưng vẫn
                                                                        không nói được tiếng Anh. Thi thoảng mình hiểu
                                                                        câu hỏi của mọi
                                                                        người nhưng lại không biết trả lời, vì vốn tiếng
                                                                        Anh của mình
                                                                        khá ít, chính vì thế đã gặp rất nhiều khó khăn
                                                                        trong công việc,
                                                                        nhiều lần mình đã muốn từ bỏ. Thật may mắn, một
                                                                        ngày nọ mình đã
                                                                        gặp khóa học tiếng Anh tại Universal Language
                                                                        Center đã đăng ký
                                                                        ngay sau đó và trở thành học viên tại đây.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="student-box">
                                                <div class="columns">
                                                    <div class="column st-l">
                                                        <div class="student-b">
                                                            <div class="student-ig">
                                                                <img src="./img/st-1.png" alt="st-1.png"
                                                                    class="student-img">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column st-r">
                                                        <div class="student-b">
                                                            <h2 class="student-name tt-40">
                                                                hoàng anh giang
                                                            </h2>
                                                            <p class="student-job tt-22">IELTS VANTAGE</p>
                                                            <div class="student-content">
                                                                <div class="dots-dp">
                                                                    <img src="./img/dau-phay.png" alt="dau-phay.png">
                                                                </div>
                                                                <div class="student-text">
                                                                    <p>“Cũng như những người khác, mình đã học 10 năm
                                                                        rồi nhưng vẫn
                                                                        không nói được tiếng Anh. Thi thoảng mình hiểu
                                                                        câu hỏi của mọi
                                                                        người nhưng lại không biết trả lời, vì vốn tiếng
                                                                        Anh của mình
                                                                        khá ít, chính vì thế đã gặp rất nhiều khó khăn
                                                                        trong công việc,
                                                                        nhiều lần mình đã muốn từ bỏ. Thật may mắn, một
                                                                        ngày nọ mình đã
                                                                        gặp khóa học tiếng Anh tại Universal Language
                                                                        Center đã đăng ký
                                                                        ngay sau đó và trở thành học viên tại đây.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-pagination"></div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="course sec-80">
                <div class="container">
                    <div class="course-wrapper">
                        <h1 class="course-title tt-40">sau khóa học</h1>
                        <div class="course-inner">
                            <div class="columns">
                                <div class="column c-l">
                                    <div class="course-box">
                                        <div class="course-desc">
                                            <div class="dots-dp">
                                                <img src="./img/dau-phay.png" alt="dau-phay.png">
                                            </div>
                                            <p class="course-text">
                                                “Theo học khóa luyện thi IELTS tại trung tâm, mình đã học được rất nhiều
                                                kiến thức đáng giá. Suốt quá trình học tất cả học viên bọn mình được
                                                củng cố kiến thức toàn diện, và không đi tắt bất cứ giai đoạn nào. Có lẽ
                                                chính vì vậy mà học xong mình đã có nền tảng có thể nói là khá chắc chắn
                                                để tự tin vượt qua mọi bài thi, kể cả không phải là IELTS.”
                                            </p>
                                        </div>

                                        <div class="course-info">
                                            <div class="course-b">
                                                <p class="course-label">
                                                    ngữ pháp
                                                </p>
                                                <div class="course-bi skill-1"></div>
                                            </div>
                                            <div class="course-b">
                                                <p class="course-label">
                                                    KỸ NĂNG NGHE NÓI
                                                </p>
                                                <div class="course-bi skill-2"></div>
                                            </div>
                                            <div class="course-b">
                                                <p class="course-label">
                                                    KỸ NĂNG ĐỌC HIỂU
                                                </p>
                                                <div class="course-bi skill-3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column c-r">
                                    <div class="course-w">
                                        <div class="course-b" data-aos="fade-up">
                                            <div class="course-b-s">
                                                <img src="./img/course-1.png" alt="course-1.png" class="course-i">
                                                <p class="course-p">TỰ TIN GIAO TIẾP
                                                    VỚI NGƯỜI NƯỚC NGOÀI</p>
                                            </div>
                                        </div>
                                        <div class="course-b" data-aos="fade-up">
                                            <div class="course-b-s">
                                                <img src="./img/course-2.png" alt="course-2.png" class="course-i">
                                                <p class="course-p">
                                                    IELTS : 9,0</p>
                                            </div>
                                        </div>
                                        <div class="course-b" data-aos="fade-up">
                                            <div class="course-b-s">
                                                <img src="./img/course-2.png" alt="course-2.png" class="course-i">
                                                <p class="course-p">TOEIC : 880</p>
                                            </div>
                                        </div>
                                        <div class="course-b" data-aos="fade-up">
                                            <div class="course-b-s">
                                                <img src="./img/course-2.png" alt="course-1.png" class="course-i">
                                                <p class="course-p">PHẢN XẠ, PHÁT ÂM
                                                    CHUẨN</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến,
                                    Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ,
                                    Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>