<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png">
                                Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="banner banner-page" style="background-image: url('./img/banner-news.png');">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="banner-tt tt-60">
                            tin tức
                        </h1>
                        <div class="search-desktop">
                            <form action="#" class="search-form">
                                <input type="text" class="f-control" placeholder="Search our courses">
                                <button class="f-submit" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <div class="breadcrumb bg-g-f2">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list active">
                            <a href="news.html">Tin tức</a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="exper sec-80">
                <div class="container">
                    <div class="exper-wrapper">
                        <h1 class="exper-title tt-30">
                            CHIA SẺ KINH NGHIỆM
                        </h1>

                        <div class="exper-content">
                            <p class="exper-label">
                                Nơi cập nhất thông tin mới nhất về đề thi, kinh nghiệm học tiếng Anh và hơn thế nữa…
                            </p>
                            <div class="exper-w">
                                <div class="exper-inner">
                                    <div class="columns">
                                        <div class="column exper-l">
                                            <div class="exper-box">
                                                <div class="exper-day">
                                                    <h1 class="e-day-tt f-bold">11</h1>
                                                    <p class="e-day-t f-bold">May ,2021</p>
                                                </div>

                                                <div class="exper-post">
                                                    <h4 class="exper-t">
                                                        <a href="#">
                                                            Làm bài test TOEIC online MIỄN PHÍ cùng
                                                            Universal
                                                        </a>
                                                    </h4>
                                                    <div class="exper-days">
                                                        <p class="e-day-tt f-bold">11</p>
                                                        <p class="e-day-t f-bold">May ,2021</p>
                                                    </div>
                                                    <p class="exper-desc">
                                                        Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều
                                                        người
                                                        theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm
                                                        của
                                                        mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được
                                                        trình độ của mình. Qua đó có thể học theo đúng trình độ, cũng
                                                        như
                                                        sắp xếp lộ trình học hợp lý.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column exper-r">
                                            <div class="exper-box-img">
                                                <img src="./img/exper-1.png" alt="exper-1.png" class="exper-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exper-inner">
                                    <div class="columns">
                                        <div class="column exper-l">
                                            <div class="exper-box">
                                                <div class="exper-day">
                                                    <h1 class="e-day-tt f-bold">11</h1>
                                                    <p class="e-day-t f-bold">May ,2021</p>
                                                </div>

                                                <div class="exper-post">
                                                    <h4 class="exper-t">
                                                        <a href="#">
                                                            Làm bài test TOEIC online MIỄN PHÍ cùng
                                                            Universal
                                                        </a>
                                                    </h4>
                                                    <div class="exper-days">
                                                        <p class="e-day-tt f-bold">11</p>
                                                        <p class="e-day-t f-bold">May ,2021</p>
                                                    </div>
                                                    <p class="exper-desc">
                                                        Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều
                                                        người
                                                        theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm
                                                        của
                                                        mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được
                                                        trình độ của mình. Qua đó có thể học theo đúng trình độ, cũng
                                                        như
                                                        sắp xếp lộ trình học hợp lý.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column exper-r">
                                            <div class="exper-box-img">
                                                <img src="./img/exper-1.png" alt="exper-1.png" class="exper-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="exper-inner">
                                    <div class="columns">
                                        <div class="column exper-l">
                                            <div class="exper-box">
                                                <div class="exper-day">
                                                    <h1 class="e-day-tt f-bold">11</h1>
                                                    <p class="e-day-t f-bold">May ,2021</p>
                                                </div>

                                                <div class="exper-post">
                                                    <h4 class="exper-t">
                                                        <a href="#">
                                                            Làm bài test TOEIC online MIỄN PHÍ cùng
                                                            Universal
                                                        </a>
                                                    </h4>
                                                    <div class="exper-days">
                                                        <p class="e-day-tt f-bold">11</p>
                                                        <p class="e-day-t f-bold">May ,2021</p>
                                                    </div>
                                                    <p class="exper-desc">
                                                        Ngày nay, TOEIC đã trở thành chứng chỉ quan trọng được nhiều
                                                        người
                                                        theo học. Trước khi bắt đầu học TOEIC, bạn cần phải biết điểm
                                                        của
                                                        mình. Thông qua làm bài test TOEIC online, các bạn sẽ biết được
                                                        trình độ của mình. Qua đó có thể học theo đúng trình độ, cũng
                                                        như
                                                        sắp xếp lộ trình học hợp lý.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column exper-r">
                                            <div class="exper-box-img">
                                                <img src="./img/exper-1.png" alt="exper-1.png" class="exper-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a href="#" class="exper-p btn-link-ed">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="newspaper" style="background-image: url('./img/bg-new.png');">
                <div class="container">
                    <div class="newspaper-wrapper" id="slide-newspaper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="newspaper-box">
                                        <h1 class="newspaper-title tt-30">
                                            BÁO CHÍ NÓI GÌ <br>
                                            VỀ CHÚNG TÔI
                                        </h1>
                                        <div class="newspaper-star">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <p class="newspaper-label tt-18">
                                            “Univesal Language Center là một trong những trung tâm luyện thi tốt nhất
                                            hiện nay…”
                                        </p>
                                        <p class="newspaper-p">Theo báo Người Đưa Tin</p>
                                        <a href="#" class="btn-more">Tìm hiểu thêm</a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="newspaper-box">
                                        <h1 class="newspaper-title tt-30">
                                            BÁO CHÍ NÓI GÌ <br>
                                            VỀ CHÚNG TÔI
                                        </h1>
                                        <div class="newspaper-star">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <p class="newspaper-label tt-18">
                                            “Univesal Language Center là một trong những trung tâm luyện thi tốt nhất
                                            hiện nay…”
                                        </p>
                                        <p class="newspaper-p">Theo báo Người Đưa Tin</p>
                                        <a href="#" class="btn-more">Tìm hiểu thêm</a>
                                    </div>
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>

            <section class="typical" style="background-image: url('./img/bg-typical.png');">
                <div class="container">
                    <div class="typical-wrapper">
                        <div class="columns">
                            <div class="column typical-l">
                                <div class="typical-inner">
                                    <h1 class="typical-title tt-30">
                                        Học viên tiêu biểu
                                    </h1>
                                    <div class="typical-content" id="slide-typical">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="typical-box">
                                                        <div class="typical-img">
                                                            <a href="#">
                                                                <img src="./img/typical-1.png" alt="typical-1.png">
                                                            </a>
                                                        </div>

                                                        <div class="typical-text">
                                                            <h4 class="typical-name tt-18 f-bold">
                                                                Hoàng An Giang
                                                            </h4>
                                                            <p class="typical-job f-bold">
                                                                TOEIC : 900 / IELTS : 9,0
                                                            </p>
                                                            <p class="typical-desc">
                                                                “Theo học khóa luyện thi IELTS tại trung tâm, mình đã
                                                                học
                                                                được rất
                                                                nhiều kiến thức đáng giá. Suốt quá trình học tất cả học
                                                                viên
                                                                bọn
                                                                mình được củng cố kiến thức toàn diện, và không đi tắt
                                                                bất
                                                                cứ giai
                                                                đoạn nào. Có lẽ chính vì vậy mà học xong mình đã có nền
                                                                tảng
                                                                có thể
                                                                nói là khá chắc chắn để tự tin vượt qua mọi bài thi, kể
                                                                cả
                                                                không
                                                                phải là IELTS.”
                                                            </p>
                                                            <a href="#" class="btn-more">Tìm hiểu thêm </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="typical-box">
                                                        <div class="typical-img">
                                                            <a href="#">
                                                                <img src="./img/typical-2.png" alt="typical-2.png">
                                                            </a>
                                                        </div>

                                                        <div class="typical-text">
                                                            <h4 class="typical-name tt-18 f-bold">
                                                                Nguyễn Nam Anh
                                                            </h4>
                                                            <p class="typical-job f-bold">
                                                                TOEIC : 900 / IELTS : 9,0
                                                            </p>
                                                            <p class="typical-desc">
                                                                “Theo học khóa luyện thi IELTS tại trung tâm, mình đã
                                                                học
                                                                được rất
                                                                nhiều kiến thức đáng giá. Suốt quá trình học tất cả học
                                                                viên
                                                                bọn
                                                                mình được củng cố kiến thức toàn diện, và không đi tắt
                                                                bất
                                                                cứ giai
                                                                đoạn nào. Có lẽ chính vì vậy mà học xong mình đã có nền
                                                                tảng
                                                                có thể
                                                                nói là khá chắc chắn để tự tin vượt qua mọi bài thi, kể
                                                                cả
                                                                không
                                                                phải là IELTS.”
                                                            </p>
                                                            <a href="#" class="btn-more">Tìm hiểu thêm </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="typical-box">
                                                        <div class="typical-img">
                                                            <a href="#">
                                                                <img src="./img/typical-3.png" alt="typical-3.png">
                                                            </a>
                                                        </div>

                                                        <div class="typical-text">
                                                            <h4 class="typical-name tt-18 f-bold">
                                                                Đỗ Thị Hà Giang
                                                            </h4>
                                                            <p class="typical-job f-bold">
                                                                TOEIC : 900 / IELTS : 9,0
                                                            </p>
                                                            <p class="typical-desc">
                                                                “Theo học khóa luyện thi IELTS tại trung tâm, mình đã
                                                                học
                                                                được rất
                                                                nhiều kiến thức đáng giá. Suốt quá trình học tất cả học
                                                                viên
                                                                bọn
                                                                mình được củng cố kiến thức toàn diện, và không đi tắt
                                                                bất
                                                                cứ giai
                                                                đoạn nào. Có lẽ chính vì vậy mà học xong mình đã có nền
                                                                tảng
                                                                có thể
                                                                nói là khá chắc chắn để tự tin vượt qua mọi bài thi, kể
                                                                cả
                                                                không
                                                                phải là IELTS.”
                                                            </p>
                                                            <a href="#" class="btn-more">Tìm hiểu thêm </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-pagination"></div>
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column typical-r">
                                <h1 class="typical-title tt-30">
                                    Học viên tiêu biểu
                                </h1>
                                <div class="typical-w">
                                    <div class="typical-hd">
                                        <div class="dots-dp">
                                            <img src="./img/dau-phay.png" alt="dau-phay.png">
                                        </div>
                                        <div class="typical-b">
                                            <h4 class="typical-name tt-18">
                                                Ngô Thị Hồng Ngọc
                                            </h4>
                                            <p class="typical-hob tt-18 f-bold">
                                                CUSTOMIZED
                                            </p>
                                        </div>
                                    </div>

                                    <div class="typical-img">
                                        <img src="./img/typical-4.png" alt="typical-4.png">
                                    </div>

                                    <div class="typical-text">
                                        <p class="typical-job f-bold">
                                            TOEIC : 900 / IELTS : 9,0
                                        </p>
                                        <p class="typical-desc">
                                            “Theo học khóa luyện thi IELTS tại trung tâm, mình đã học được rất
                                            nhiều kiến thức đáng giá. Suốt quá trình học tất cả học viên bọn
                                            mình được củng cố kiến thức toàn diện, và không đi tắt bất cứ giai
                                            đoạn nào. Có lẽ chính vì vậy mà học xong mình đã có nền tảng có thể
                                            nói là khá chắc chắn để tự tin vượt qua mọi bài thi, kể cả không
                                            phải là IELTS.”
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến,
                                    Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ,
                                    Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>