<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="logo-header.png">
                            </a>
                        </div>

                        <div class="header-subjects">
                            <div class="subject-title">
                                <img src="./img/icon-grid.png" alt="icon-grid.png">
                                <P>Danh sách khóa học</P>
                            </div>

                            <div class="subject-content">
                                <ul class="subject-list">
                                    <li class="subject-item">
                                        <a href="#">Môn 1</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 2</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 3</a>
                                    </li>
                                    <li class="subject-item">
                                        <a href="#">Môn 4</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <div class="header-search-mobi">
                                    <form action="#">
                                        <div class="search-form">
                                            <input type="text" class="f-control" placeholder="Tìm kiếm...">
                                            <button class="f-submit" type="submit">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul class="header-menu-nav">
                                    <li>
                                        <a href="home.html">Trang chủ</a>
                                    </li>
                                    <li class="curent-menu">
                                        <a href="vechungtoi.html">Về chúng tôi</a>
                                    </li>
                                    <li>
                                        <a href="lienhe.html">Liên lạc</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="tusach.html">Tủ sách</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="header-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                    <a href="mailto:info@universal.edu.vn" class="menu-socail socail-email">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    </a>

                                    <a href="tel:19006876" class="menu-socail socail-email">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-gift">
                            <a href="#" class="gift-text">
                                <img src="./img/icon-gift.png" alt="icon-gift.png">
                                Nhận ưu đãi</a>
                        </div>
                        <div class="hamburger-btn">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="banner banner-page" style="background-image: url('./img/banner-about.png');">
                <div class="container">
                    <div class="banner-box">
                        <h1 class="banner-tt tt-60">
                            VỀ CHÚNG TÔI
                        </h1>
                        <p class="banner-p tt-22 ">
                            “Tại Universal Language Center, chúng tôi cam kết chất lượng đến từ những giá trị thật.”
                        </p>
                    </div>
                </div>
            </section>

            <div class="me-say ">
                <div class="container">
                    <div class="say-wrapper">
                        <div class="say-inner"  data-aos="fade-right">
                            <div class="say-box">
                                <h1 class="say-title tt-50">
                                    “Tại Universal Language
                                    Center,chúng tôi cam kết
                                    chất lượng đến từ những
                                    giá trị thật.”
                                </h1>
                                <p class="say-job">
                                    ThS. Nguyễn Thị Hải Yến, Giám đốc Universal language center
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="say-b-img"  data-aos="fade-left">
                    <div class="say-img">
                        <img src="./img/say1.png" alt="say1.png">
                    </div>
                </div>
            </div>

            <div class="about-post">
                <div class="about-bg-not">
                    <div class="container">
                        <div class="about-wrapper">
                            <div class="about-inner">
                                <ul class="about-list">
                                    <li class="about-item">
                                        <h4 class="about-label tt-18">1. PASSIONATE AND EXPERIENCED TEACHERS</h4>
                                        <p class="about-desc">Giảng viên của chúng tôi đã có trên 5 năm kinh nghiệm
                                            giảng
                                            dạy Anh ngữ chất
                                            lượng cao, tốt nghiệp xuất sắc các trường Đại Học danh tiếng quốc tế và luôn
                                            tràn đầy nhiệt huyết trong quá trình hướng dẫn học viên tiếp cận Anh ngữ.
                                            Bộ phận chuyên môn làm việc tất cả các ngày trong tuần và luôn sẵn lòng giải
                                            đáp
                                            mọi thắc mắc, những bài tập khó, hoặc hướng dẫn hoàn thiện hồ sơ du học và
                                            xin
                                            học bổng.</p>
                                    </li>
                                    <li class="about-item">
                                        <h4 class="about-label tt-18">2. PERSONALIZED EDUCATION</h4>
                                        <p class="about-desc">
                                            Mỗi học viên được xây dựng lộ trình riêng, theo đúng năng lực và mục tiêu
                                            nhằm
                                            tối ưu hoá hiệu quả học tập. Sau mỗi khoá học, học viên được tư vấn và trao
                                            đổi
                                            với Bộ phận chuyên môn để biết được những điểm mạnh của mình trong khoá học
                                            cũ
                                            và những điểm chưa tốt cần chú trọng hơn.
                                        </p>
                                    </li>
                                    <li class="about-item">
                                        <h4 class="about-label tt-18">3. A VARIETY OF COURSE TO CHOOSE</h4>
                                        <p class="about-desc">UNIVERSAL cung cấp các khoá học tiếng Anh thiếu niên độ
                                            tuổi
                                            từ 10 – 15 và các khoá học Anh ngữ giao tiếp quốc tế, luyện thi chứng chỉ
                                            cho
                                            học viên từ độ tuổi 16.Đặc biệt, học viên có thể tham gia khóa học tự chọn –
                                            Universal Customized Program với mô hình học 1 – 1, chương trình học và giáo
                                            trình riêng, phù hợp với mọi nguyện vọng về mục đích học tập và thời gian.
                                        </p>
                                    </li>
                                    <li class="about-item">
                                        <h4 class="about-label tt-18">4. A PLACE LIKE NO OTHER</h4>
                                        <p class="about-desc">Với phương châm “We never teach our students. We attempt
                                            to
                                            provide the conditions in which they can learn” – Albert Einstein, UNIVERSAL
                                            mong muốn mang đến một môi trường khác biệt giúp học viên khám phá và nâng
                                            cao
                                            khả năng Anh ngữ. </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="about-bg-img"  data-aos="fade-right">
                        <img src="./img/a1.png" alt="a1.png">
                    </div>
                </div>
                <div class="about-bg">
                    <div class="container">
                        <div class="about-wrapper">
                            <div class="columns">
                                <div class="column about-t">
                                    <div class="about-inner-b">
                                        <ul class="about-list">
                                            <li class="about-item">
                                                <h4 class="about-label tt-18">5. LIVE THE ADVENTURE BEYOND THE
                                                    CLASSROOM</h4>
                                                <p class="about-desc">“Summer camp” và “Spring excursion” là hai sự kiện
                                                    dã ngoại lớn nhất hàng năm của UNIVERSAL dành cho 200 học viên đăng
                                                    ký đầu tiên. Học viên sẽ được vận dụng Anh ngữ trong môi trường thực
                                                    tế, phát triển kỹ năng mềm, khả năng xử lý tình huống và xây dựng
                                                    tinh thần làm việc đồng đội.
                                                </p>
                                            </li>
                                            <li class="about-item">
                                                <h4 class="about-label tt-18">6. SCORE HIGHER-GUARANTEED OR YOUR
                                                    FEE BACK!</h4>
                                                <p class="about-desc">
                                                    Với phương châm “We never teach our students. We attempt to provide
                                                    the conditions in which they can learn” – Albert Einstein, UNIVERSAL
                                                    mong muốn mang đến một môi trường khác biệt giúp học viên khám phá
                                                    và nâng cao khả năng Anh ngữ. Chúng tôi áp dụng công nghệ mới nhất
                                                    vào các bài giảng điện tử, cung cấp những tài liệu trực tuyến có
                                                    tính tương tác cao và e-portfolio cho mỗi học viên để theo dõi sự
                                                    tiến bộ của mình qua các bài kiểm tra. Thư viện tầng 1 mở cửa từ
                                                    10AM-8PM với quầy bar phục vụ đồ uống miễn phí thứ 5 hàng tuần.
                                                </p>
                                            </li>
                                            <li class="about-item">
                                                <h4 class="about-label tt-18">7. GO STRAIGHT TO 98 INTERNATIONAL
                                                    UNIVERSITIES</h4>
                                                <p class="about-desc">Kết thúc khoá học IELTS với điểm số 6.5 trở lên,
                                                    học viên được tư vấn chọn trường quốc tế và hỗ trợ hoàn thiện hồ sơ
                                                    để du học Đại học hoặc Thạc sỹ tại 98 trường đối tác của UNIVERSAL
                                                    trên toàn thế giới.</p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="column about-i" >
                                    <div class="about-inner-b">
                                        <div class="about-box">
                                            <div class="about-b about-b-1" data-aos="fade-up">
                                                <div class="about-img ">
                                                    <img src="./img/as1.png" alt="as1.png">
                                                    <a href="#" class="about-link">LỘ TRÌNH RIÊNG BIỆT</a>
                                                </div>
                                            </div>
                                            <div class="about-b about-b-2" data-aos="fade-up">
                                                <div class="about-img">
                                                    <img src="./img/as2.png" alt="as1.png">
                                                    <a href="#" class="about-link">TRẢI NGHIỆM BẢN THÂN</a>
                                                </div>
                                            </div>
                                            <div class="about-b about-b-3" data-aos="fade-up">
                                                <div class="about-img ">
                                                    <img src="./img/as3.png" alt="as1.png">
                                                    <a href="#" class="about-link">CHỨNG CHỈ KHOÁ HỌC</a>
                                                </div>
                                            </div>
                                            <div class="about-b about-b-4" data-aos="fade-up">
                                                <div class="about-img ">
                                                    <img src="./img/as4.png" alt="as1.png">
                                                    <a href="#" class="about-link">GIÁO VIÊN KINH NGHIỆM</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="our-teacher sec-80">
                <div class="container">
                    <div class="our-teacher-wrapper">
                        <div class="columns">
                            <div class="column our-t">
                                <div class="teacher-inner">
                                    <h1 class="teacher-title tt-40">
                                        ĐỘI NGŨ GIẢNG VIÊN
                                    </h1>
                                    <div class="mona-content">
                                        <p class="teacher-desc"> Toàn bộ giáo viên của Universal Language Center đều là
                                            những giáo viên có trình
                                            độ cao, sở hữu chứng chỉ quốc tế (bao gồm cả chứng chỉ IELTS và chứng chỉ
                                            dạy
                                            học), có nhiều năm kinh nghiệm trong luyện thi IELTS và cũng như rất nhiệt
                                            tình
                                            trong giảng dạy.</p>

                                        <p class="teacher-desc f-italic"> “Tại Universal, chúng tôi không chỉ chú trọng về đội
                                            ngũ giảng viên, giáo trình,
                                            hoạt động giảng dạy mà còn xây dựng triết lý giáo dục truyền cảm hứng.
                                            Truyền
                                            cảm hứng là vô cùng quan trọng, bởi có cảm hứng mới có thể học tập tốt.
                                            Universal truyền cảm hứng cho học viên thông qua cách thức giảng dạy của
                                            giáo
                                            viên, hoạt động học tập trên lớp và không gian học tập đẹp, hiện đại, trẻ
                                            trung,
                                            năng động”</p>

                                    </div>
                                    <a href="#" class="btn btn-link">
                                        NHẬN TƯ VẤN
                                    </a>
                                </div>
                            </div>
                            <div class="column our-i">
                                <div class="teacher-inner">
                                    <div class="teacher-box" data-aos="fade-right">
                                        <img src="./img/e1.png" alt="" class="teacher-img">
                                    </div>

                                    <div class="teacher-box">
                                        <div class="teacher-b" data-aos="fade-down">
                                            <div class="te-box">
                                                <img src="./img/e2.png" alt="e2.png" class="teacher-img img-b">
                                            </div>
                                            <div class="te-box mt-auto">
                                                <img src="./img/e3.png" alt="e3.png" class="teacher-img img-s">
                                            </div>


                                        </div>
                                        <div class="teacher-b" data-aos="fade-up">
                                            <div class="te-box">
                                                <img src="./img/e4.png" alt="e4.png" class="teacher-img img-s ">
                                            </div>
                                            <div class="te-box">
                                                <img src="./img/e5.png" alt="e5.png" class="teacher-img img-b">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        <footer class="footer sec-80">
            <div class="container">
                <div class="footer-top">
                    <div class="columns">
                        <div class="column w-200">
                            <div class="footer-box">
                                <a href="home.html">
                                    <img src="./img/logo-footer.png" alt="logo-footer.png" class="footer-logo">
                                </a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-wrapper">
                                <div class="footer-box">
                                    <ul class="footer-list">
                                        <li class="footer-item">
                                            <a a href="mailto:info@universal.edu.vn">
                                                <i class="fa fa-envelope f-icon" aria-hidden="true"></i>
                                                <p>info@universal.edu.vn</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="tel:19006876">
                                                <i class="fa fa-phone f-icon" aria-hidden="true"></i>
                                                <p>Hotline: 19006876</p>
                                            </a>
                                        </li>
                                        <li class="footer-item">
                                            <a href="#">
                                                <i class="fa fa-facebook f-icon" aria-hidden="true"></i>
                                                <p>Facebook</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-box">
                                    <div class="footer-info">
                                        <a href="#" class="footer-text">
                                            tư vấn miễn phí
                                        </a>
                                        <a href="#" class="footer-text">
                                            thông tin khóa
                                        </a>
                                        <a href="#" class="footer-text">
                                            học địa chỉ
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="columns">
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 1:</p>
                                <p class="footer-addres">262 Lạc Trung, Hai Bà Trưng,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 2:</p>
                                <p class="footer-addres">Tòa nhà Universal, 180-182 Hồng Tiến,
                                    Long Biên, Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 3:</p>
                                <p class="footer-addres">619 Nguyễn Văn Cừ, Long Biên,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 4:</p>
                                <p class="footer-addres">2/180 Hoàng Quốc Việt, Cầu Giấy,
                                    Hà Nội</p>
                            </div>
                        </div>
                        <div class="column">
                            <div class="footer-inner">
                                <p class="footer-label">Cơ sở 5:</p>
                                <p class="footer-addres">Tẩng 4, Số 2A Vương Thừa Vũ,
                                    Thanh Xuân, Hà Nội</p>
                            </div>
                        </div>
                    </div>

                    <div class="copyright">
                        <p>Designed and developed by Mona Media</p>
                    </div>
                </div>
            </div>
            <div class="advisory">
                <a href="#" class="btn btn-link">Tư vấn viên</a>
            </div>
        </footer>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>