.header {
    position: relative;
    width: 100%;
    z-index: 900;
    background-color: $w-cl;
    transition: all .3s ease-in;
    //overflow-x: hidden;
    min-width: 100%;

    &.--fix {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: 10px 10px 20px rgba($color: $b-cl, $alpha: 0.16);
        animation: fixedMenu 0.6s;

        .header-bottom-inner {
            padding: 10px 0;

            .header-logo {
                max-width: 150px;
            }
        }
    }
}

.header-bottom {
    background: $bg-w-cl;

    &-inner {
        padding: 20px 0;
        display: flex;
        //justify-content: flex-start;
        justify-content: space-between;
        align-items: center;
        //color: $t-w-cl;
        font-size: 16px;
    }
}

.header-logo {
    margin-right: 15px;

    @include max-media($bk-992) {
        max-width: 180px;
    }

    @include max-media($bk-576) {
        max-width: 150px;
    }

    img {
        max-width: 100%;
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.header-gift {
    @include max-media($bk-d-1200) {
        display: none;
    }

    .gift-text {
        display: flex;
        align-items: center;
        line-height: 20px;
        transition: all .3s ease;
        padding: 9px 29px;
        border-radius: 4px;
        color: $t-b-cl;
        border: 1px $main-cl solid;

        &:hover {
            background-color: $bg-m-cl;
            color: $t-w-cl;

            img {
                filter: brightness(0) invert(1);
            }
        }

        img {
            margin-right: 9px;
            transition: all .3s ease;
        }
    }
}

.header-subjects {
    position: relative;

    @include max-media($bk-d-1200) {
        margin-left: auto;
    }

    .subject-title {
        color: $violet-cl;
        font-weight: bold;
        //font-size: 16px;
        display: flex;
        align-items: center;
        cursor: pointer;


        @include max-media($bk-d-1200) {
            font-size: 0;
            padding-right: 10px;

            &::after {
                content: "|";
                background-color: rgba($color: $b-cl, $alpha: 0.5);
                width: 2px;
                height: 25px;
            }
        }

        img {
            margin-right: 10px;
        }

        p {
            position: relative;

            &::after {
                content: '';
                width: 0%;
                position: absolute;
                bottom: -3px;
                border-bottom: 1px solid $violet-cl;
                left: 50%;
                transform: translateX(-50%);
                transition: width .2s ease-in-out;

            }
        }


        &:hover {
            p {
                &::after {
                    width: 100%;
                }
            }
        }
    }

    .subject-content {
        position: absolute;
        top: 40px;
        left: 0;
        width: 220px;
        background-color: $bg-w-cl;
        padding: 20px;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
        transition: all .3s ease;
        @include hidden;
        animation: fade-out-bottom  0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        @include max-media($bk-d-1200) {
            left: auto;
            right: 0;
        }

        .subject-item {
            padding-bottom: 10px;
            transition: all .3s ease;

            &:hover{
                color: $main-cl;
            }
            &:not(:first-child) {
                border-top: 1px rgba($color: $b-cl, $alpha: 0.2) solid;
                padding-top: 10px;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &.active{
        .subject-content{
            @include visible;
            animation: fade-in-bottom  0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }
}

.header-socail {
    align-items: center;
    justify-content: center;
    margin-top: auto;
    display: none;

    @include max-media($bk-d-1200) {
        display: flex;
    }

    .menu-socail {
        width: 40px;
        height: 40px;
        background-color: $w-cl;
        border-radius: 4px;
        border: 1px solid $main-cl;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;

        &:hover {
            background-color: $main-cl;
            color: $w-cl;
        }

    }
}

.header-search-mobi {
    display: none;

    @include max-media($bk-d-1200) {
        display: block;
    }

    .search-form {
        padding: 12px;
        border-top: 1px solid $g-BCBC-cl;
        border-bottom: 1px solid $g-BCBC-cl;

        .f-submit {
            height: 34px;
            bottom: 12px;
            right: 10px;
            color: $b-cl;
            font-size: 18px;
        }

        .f-control {
            border-color: $g-7070-cl;
            color: $b-cl;
            height: 34px;
            font-weight: normal;
            padding: 5px 44px 5px 10px;

            &::placeholder {
                color: $b-cl;
            }

            &:hover,
            &:focus {
                border-color: $main-cl;
            }
        }
    }
}

// .header-search {
//     margin: 0 15px 0 48px;
//     flex-grow: 1;

//     &-icon {
//         display: none;
//         width: 44px;
//         height: 44px;
//         line-height: 44px;
//         text-align: center;
//         background-color: $b-cl;
//         border-radius: 6px;
//         font-size: 16px;
//         color: $main-cl;

//         @include max-media($bk-768) {
//             display: block;
//         }
//     }

//     @include max-media($bk-768) {
//         .search-form {
//             display: none;
//         }
//     }

// }

// .header-cart{
//     .cart-btn{
//         color: $t-b-cl;
//         cursor: pointer;
//         position: relative;
//         width: 40px;
//         height: 40px;
//         display: flex;
//         align-items: center;
//         p {
//             text-transform: uppercase;
//             font-weight: 700;

//         }

//         .qty-cart{
//             display: inline;
//             position: absolute;
//             top: 0px;
//             right: -7px;
//             width: 18px;
//             height: 18px;
//             border-radius: 100%;
//             background-color: rgba($color: red, $alpha: 0.5);
//             color: $t-w-cl;
//             font-size: 10px;
//             line-height: 18px;
//             text-align: center;
//         }
//     }
// }

.header-menu {

    &-inner {
        .header-menu-logo {
            display: none;
            max-width: 200px;
            margin: 0 auto 20px;

            @include max-media($bk-d-1200) {
                display: block;
            }
        }
    }

    @include max-media($bk-d-1200) {
        @include pos-full-fixed;
        left: unset;
        right: 100vw;
        text-align: left;
        transition: all .2s ease;
        z-index: 998;

        &.--active {
            right: 0;
        }

        .header-menu-inner {
            position: absolute;
            top: 0;
            left: 0;
            // width: 250px;
            width: 80%;
            max-width: 300px;
            height: 100%;
            background-color: $bg-w-cl;
            padding: 20px 0 40px;
            display: flex;
            flex-direction: column;
            z-index: 99;
        }
    }
}

.header-menu-nav {
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;

    @include max-media($bk-d-1200) {
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        height: 400px;
        @include custom-scrollbar(5px)
    }

    >li {
        @include min-media($bk-1200) {
            padding: 0 15px;
        }

        >a {
            @include min-media($bk-1200) {

                &::after {
                    content: "";
                    border-bottom: 2px solid $main-cl;
                    width: 0%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all .3s ease;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }

                    color: $main-cl;
                }
            }
        }

        &.curent-menu {
            >a {
                color: $main-cl;
                @include min-media($bk-1200){
                    &::after {
                        content: "";
                        width: 100%;
                    }
                }
                
            }
        }
    }


    a {
        position: relative;
        padding: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        //text-transform: uppercase;
        @include trans(.3s);
        color: $t-b-cl;
        //font-size: 16px;
        transition: all .3s ease;

        //font-size: 12px;
        @include max-media($bk-d-1200) {
            padding: 10px 20px;
            border-bottom: 1px solid rgba($color: $bg-b-cl, $alpha: 0.16);
        }

    }
}


.dropdown {
    position: relative;

    //hover trên deskop
    @include min-media($bk-1200) {
        &:hover {
            >.sub-menu {
                transform: translateY(0);
                pointer-events: auto;
                @include visible;
            }

            .fa.fa-angle-down {
                pointer-events: none;
            }

            a {
                &:hover {
                    i {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    a {
        //font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //text-transform: uppercase;
        transition: all .3s ease;
    }

    .fa.fa-angle-down {
        width: 20px;
        height: 100%;
        font-weight: bold;
        transition: transform .3s;
        text-align: center;

        @include max-media($bk-d-1200) {
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;

            &:before {
                @include pos-mid;
            }

            transform: rotate(-90deg);

            &.--show {
                transform: rotate(0deg);
            }

        }


    }


}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    width: max-content;
    font-size: 14px;
    color: $t-b-cl;
    background-color: $bg-w-cl;
    box-shadow: 10px 10px 30px rgba($color: $bg-b-cl, $alpha: 0.16);


    .sub-menu {
        top: 0;
        left: 100%;
    }

    @include min-media($bk-1200) {
        transition: .3s;
        transform: translateY(10px);
        pointer-events: none;
        @include hidden;
    }

    a {
        padding: 15px;

        @include min-media($bk-1200) {
            &:hover {
                color: $main-cl;
            }
        }
    }

    @include max-media($bk-d-1200) {
        position: relative;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        display: none;

        a {
            padding-left: 30px;
            border-bottom: 1px solid rgba($color: $b-cl, $alpha: 0.1);

            &:hover {
                color: $main-cl;
            }
        }

        .sub-menu a {
            padding-left: 45px;
        }

        .sub-menu .sub-menu a {
            padding-left: 60px;
        }
    }
}